@charset "UTF-8";

:root {
    --cor01: #F7DEB9;
    --cor02: #F5BF6E;
    --cor03: #C29857;
    --cor04: #755B35;
    --cor05: #756A58;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
}

header {
    background-color: white;
}

header img {
    display: block;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav {
    background-color: #755B35;
    padding: 10px;  
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    padding: 10px;
    text-decoration: none;
    color: var(--cor01);
    border-radius: 5px;
    transition-duration: 0.5s;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
}

main {
    min-width: 100px;
    max-width: 1300px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

main h1 {
    color: var(--cor05);
    margin: 10px 0px 30px 0px;
    text-decoration: underline;
}

main h2 {
    color:var(--cor04);
    margin-bottom: 20px;
}

main h3 {
    margin-bottom: 10px;
}

main p {
    text-indent: 30px;
}