@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #4F7D3D, #709722);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #192712a8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2C48D;
    text-align: center;
    text-shadow: 1px 1px 2px #776146b7;
}

h2 {
    color: #72A9F2;
}

p {
    text-align: justify;
}